<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Gemeente</th>
      <th>25-03-2020</th>
      <th>24-03-2020</th>
      <th>23-03-2020</th>
      <th>22-03-2020</th>
      <th>21-03-2020</th>
      <th>20-03-2020</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Unknown</td>
      <td>213</td>
      <td>200</td>
      <td>184</td>
      <td>155</td>
      <td>137</td>
      <td>112</td>
    </tr>
    <tr>
      <th>1</th>
      <td>'s-Gravenhage</td>
      <td>81</td>
      <td>63</td>
      <td>53</td>
      <td>47</td>
      <td>44</td>
      <td>36</td>
    </tr>
    <tr>
      <th>2</th>
      <td>'s-Hertogenbosch</td>
      <td>75</td>
      <td>67</td>
      <td>60</td>
      <td>55</td>
      <td>45</td>
      <td>38</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Aa en Hunze</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Aalsmeer</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Aalten</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Achtkarspelen</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Alblasserdam</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Albrandswaard</td>
      <td>18</td>
      <td>18</td>
      <td>14</td>
      <td>12</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Alkmaar</td>
      <td>24</td>
      <td>20</td>
      <td>16</td>
      <td>15</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Almelo</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Almere</td>
      <td>28</td>
      <td>21</td>
      <td>18</td>
      <td>14</td>
      <td>11</td>
      <td>5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Alphen aan den Rijn</td>
      <td>22</td>
      <td>20</td>
      <td>17</td>
      <td>17</td>
      <td>15</td>
      <td>13</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Alphen-Chaam</td>
      <td>16</td>
      <td>15</td>
      <td>14</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Altena</td>
      <td>35</td>
      <td>28</td>
      <td>25</td>
      <td>23</td>
      <td>22</td>
      <td>19</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ameland</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Amersfoort</td>
      <td>47</td>
      <td>44</td>
      <td>41</td>
      <td>37</td>
      <td>37</td>
      <td>32</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Amstelveen</td>
      <td>35</td>
      <td>33</td>
      <td>29</td>
      <td>27</td>
      <td>26</td>
      <td>22</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Amsterdam</td>
      <td>297</td>
      <td>250</td>
      <td>203</td>
      <td>188</td>
      <td>161</td>
      <td>127</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Apeldoorn</td>
      <td>34</td>
      <td>29</td>
      <td>26</td>
      <td>17</td>
      <td>16</td>
      <td>13</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Appingedam</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Arnhem</td>
      <td>25</td>
      <td>23</td>
      <td>20</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Assen</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Asten</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Baarle-Nassau</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Baarn</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Barendrecht</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>10</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Barneveld</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Beek</td>
      <td>13</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Beekdaelen</td>
      <td>30</td>
      <td>29</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Beemster</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Beesel</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Berg en Dal</td>
      <td>37</td>
      <td>35</td>
      <td>33</td>
      <td>30</td>
      <td>25</td>
      <td>20</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Bergeijk</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Bergen (L)</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Bergen (NH)</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Bergen op Zoom</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Berkelland</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Bernheze</td>
      <td>69</td>
      <td>67</td>
      <td>62</td>
      <td>57</td>
      <td>41</td>
      <td>37</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Best</td>
      <td>19</td>
      <td>17</td>
      <td>14</td>
      <td>14</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Beuningen</td>
      <td>15</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Beverwijk</td>
      <td>11</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Bladel</td>
      <td>15</td>
      <td>14</td>
      <td>12</td>
      <td>11</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Blaricum</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Bloemendaal</td>
      <td>13</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>3</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Bodegraven-Reeuwijk</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Boekel</td>
      <td>42</td>
      <td>42</td>
      <td>40</td>
      <td>37</td>
      <td>32</td>
      <td>25</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Borger-Odoorn</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Borne</td>
      <td>11</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Borsele</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Boxmeer</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Boxtel</td>
      <td>15</td>
      <td>15</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Breda</td>
      <td>181</td>
      <td>167</td>
      <td>161</td>
      <td>140</td>
      <td>133</td>
      <td>121</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Brielle</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Bronckhorst</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Brummen</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Brunssum</td>
      <td>20</td>
      <td>17</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Bunnik</td>
      <td>8</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Bunschoten</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Buren</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Capelle aan den IJssel</td>
      <td>23</td>
      <td>13</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Castricum</td>
      <td>10</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Coevorden</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Cranendonck</td>
      <td>25</td>
      <td>23</td>
      <td>19</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Cuijk</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Culemborg</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Dalfsen</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Dantumadiel</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>68</th>
      <td>De Bilt</td>
      <td>32</td>
      <td>27</td>
      <td>23</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
    </tr>
    <tr>
      <th>69</th>
      <td>De Fryske Marren</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>70</th>
      <td>De Ronde Venen</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>71</th>
      <td>De Wolden</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Delft</td>
      <td>21</td>
      <td>17</td>
      <td>16</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Delfzijl</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Den Helder</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Deurne</td>
      <td>30</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>19</td>
      <td>13</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Deventer</td>
      <td>26</td>
      <td>20</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Diemen</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Dinkelland</td>
      <td>20</td>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>9</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Doesburg</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Doetinchem</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Dongen</td>
      <td>6</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Dordrecht</td>
      <td>26</td>
      <td>23</td>
      <td>17</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Drechterland</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Drimmelen</td>
      <td>20</td>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Dronten</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Druten</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Duiven</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Echt-Susteren</td>
      <td>20</td>
      <td>15</td>
      <td>14</td>
      <td>12</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Edam-Volendam</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Ede</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>16</td>
      <td>13</td>
      <td>9</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Eemnes</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Eersel</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Eijsden-Margraten</td>
      <td>20</td>
      <td>15</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Eindhoven</td>
      <td>80</td>
      <td>68</td>
      <td>55</td>
      <td>46</td>
      <td>35</td>
      <td>28</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Elburg</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Emmen</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Enkhuizen</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Enschede</td>
      <td>26</td>
      <td>20</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>8</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Epe</td>
      <td>15</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Ermelo</td>
      <td>17</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Etten-Leur</td>
      <td>31</td>
      <td>24</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>15</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Geertruidenberg</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Geldrop-Mierlo</td>
      <td>15</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Gemert-Bakel</td>
      <td>68</td>
      <td>64</td>
      <td>56</td>
      <td>50</td>
      <td>42</td>
      <td>36</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Gennep</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Gilze en Rijen</td>
      <td>18</td>
      <td>16</td>
      <td>13</td>
      <td>12</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Goeree-Overflakkee</td>
      <td>44</td>
      <td>43</td>
      <td>36</td>
      <td>25</td>
      <td>16</td>
      <td>14</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Goes</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Goirle</td>
      <td>18</td>
      <td>16</td>
      <td>13</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Gooise Meren</td>
      <td>18</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Gorinchem</td>
      <td>8</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Gouda</td>
      <td>18</td>
      <td>17</td>
      <td>16</td>
      <td>15</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Grave</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Groningen</td>
      <td>58</td>
      <td>53</td>
      <td>53</td>
      <td>46</td>
      <td>39</td>
      <td>28</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Gulpen-Wittem</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Haaksbergen</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Haaren</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Haarlem</td>
      <td>46</td>
      <td>41</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>17</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Haarlemmermeer</td>
      <td>23</td>
      <td>23</td>
      <td>18</td>
      <td>16</td>
      <td>12</td>
      <td>8</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Halderberge</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Hardenberg</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Harderwijk</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Hardinxveld-Giessendam</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Harlingen</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Hattem</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Heemskerk</td>
      <td>9</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Heemstede</td>
      <td>17</td>
      <td>16</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Heerde</td>
      <td>19</td>
      <td>15</td>
      <td>13</td>
      <td>9</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Heerenveen</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Heerhugowaard</td>
      <td>16</td>
      <td>15</td>
      <td>10</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Heerlen</td>
      <td>53</td>
      <td>46</td>
      <td>29</td>
      <td>24</td>
      <td>19</td>
      <td>18</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Heeze-Leende</td>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Heiloo</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Hellendoorn</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Hellevoetsluis</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Helmond</td>
      <td>63</td>
      <td>55</td>
      <td>49</td>
      <td>38</td>
      <td>32</td>
      <td>26</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Hendrik-Ido-Ambacht</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Hengelo (O)</td>
      <td>17</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>5</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Het Hogeland</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Heumen</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Heusden</td>
      <td>20</td>
      <td>19</td>
      <td>16</td>
      <td>15</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Hillegom</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Hilvarenbeek</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Hilversum</td>
      <td>16</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Hoeksche Waard</td>
      <td>36</td>
      <td>31</td>
      <td>23</td>
      <td>21</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Hof van Twente</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Hollands Kroon</td>
      <td>10</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Hoogeveen</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Hoorn</td>
      <td>14</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
      <td>3</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Horst aan de Maas</td>
      <td>18</td>
      <td>17</td>
      <td>16</td>
      <td>13</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Houten</td>
      <td>37</td>
      <td>29</td>
      <td>25</td>
      <td>23</td>
      <td>19</td>
      <td>17</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Huizen</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Hulst</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>154</th>
      <td>IJsselstein</td>
      <td>18</td>
      <td>16</td>
      <td>16</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Kaag en Braassem</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Kampen</td>
      <td>30</td>
      <td>20</td>
      <td>17</td>
      <td>14</td>
      <td>12</td>
      <td>5</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Kapelle</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Katwijk</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Kerkrade</td>
      <td>21</td>
      <td>17</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Koggenland</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Krimpen aan den IJssel</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Krimpenerwaard</td>
      <td>16</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Laarbeek</td>
      <td>19</td>
      <td>17</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Landerd</td>
      <td>25</td>
      <td>25</td>
      <td>23</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Landgraaf</td>
      <td>21</td>
      <td>18</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Landsmeer</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Langedijk</td>
      <td>12</td>
      <td>12</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Lansingerland</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>16</td>
      <td>14</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Laren</td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Leeuwarden</td>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Leiden</td>
      <td>21</td>
      <td>20</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>14</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Leiderdorp</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Leidschendam-Voorburg</td>
      <td>14</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Lelystad</td>
      <td>26</td>
      <td>24</td>
      <td>21</td>
      <td>19</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Leudal</td>
      <td>29</td>
      <td>26</td>
      <td>23</td>
      <td>22</td>
      <td>20</td>
      <td>16</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Leusden</td>
      <td>13</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Lingewaard</td>
      <td>14</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Lisse</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Lochem</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Loon op Zand</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Lopik</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Loppersum</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Losser</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Maasdriel</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Maasgouw</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Maassluis</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Maastricht</td>
      <td>112</td>
      <td>94</td>
      <td>60</td>
      <td>59</td>
      <td>57</td>
      <td>56</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Medemblik</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Meerssen</td>
      <td>8</td>
      <td>8</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Meierijstad</td>
      <td>149</td>
      <td>139</td>
      <td>127</td>
      <td>119</td>
      <td>95</td>
      <td>81</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Meppel</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Middelburg</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Midden-Delfland</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Midden-Drenthe</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>195</th>
      <td>Midden-Groningen</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Mill en Sint Hubert</td>
      <td>5</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Moerdijk</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Molenlanden</td>
      <td>16</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>199</th>
      <td>Montferland</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Montfoort</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>201</th>
      <td>Mook en Middelaar</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Neder-Betuwe</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Nederweert</td>
      <td>14</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Nieuwegein</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>205</th>
      <td>Nieuwkoop</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Nijkerk</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Nijmegen</td>
      <td>108</td>
      <td>93</td>
      <td>79</td>
      <td>68</td>
      <td>60</td>
      <td>55</td>
    </tr>
    <tr>
      <th>208</th>
      <td>Nissewaard</td>
      <td>19</td>
      <td>17</td>
      <td>15</td>
      <td>15</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>209</th>
      <td>Noardeast-Fryslân</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Noord-Beveland</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Noordenveld</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Noordoostpolder</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Noordwijk</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>214</th>
      <td>Nuenen, Gerwen en Nederwetten</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>215</th>
      <td>Nunspeet</td>
      <td>29</td>
      <td>22</td>
      <td>17</td>
      <td>13</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Oegstgeest</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Oirschot</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Oisterwijk</td>
      <td>18</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>12</td>
    </tr>
    <tr>
      <th>219</th>
      <td>Oldambt</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>220</th>
      <td>Oldebroek</td>
      <td>12</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>221</th>
      <td>Oldenzaal</td>
      <td>13</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>222</th>
      <td>Olst-Wijhe</td>
      <td>6</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>223</th>
      <td>Ommen</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>224</th>
      <td>Oost Gelre</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>225</th>
      <td>Oosterhout</td>
      <td>26</td>
      <td>23</td>
      <td>22</td>
      <td>16</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>226</th>
      <td>Ooststellingwerf</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>227</th>
      <td>Oostzaan</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Opmeer</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>229</th>
      <td>Opsterland</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>230</th>
      <td>Oss</td>
      <td>81</td>
      <td>73</td>
      <td>65</td>
      <td>59</td>
      <td>44</td>
      <td>35</td>
    </tr>
    <tr>
      <th>231</th>
      <td>Oude IJsselstreek</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>232</th>
      <td>Ouder-Amstel</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>233</th>
      <td>Oudewater</td>
      <td>10</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>234</th>
      <td>Overbetuwe</td>
      <td>38</td>
      <td>33</td>
      <td>30</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Papendrecht</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>236</th>
      <td>Peel en Maas</td>
      <td>88</td>
      <td>79</td>
      <td>69</td>
      <td>64</td>
      <td>63</td>
      <td>49</td>
    </tr>
    <tr>
      <th>237</th>
      <td>Pekela</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>238</th>
      <td>Pijnacker-Nootdorp</td>
      <td>16</td>
      <td>14</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>239</th>
      <td>Purmerend</td>
      <td>32</td>
      <td>23</td>
      <td>22</td>
      <td>20</td>
      <td>14</td>
      <td>11</td>
    </tr>
    <tr>
      <th>240</th>
      <td>Putten</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>241</th>
      <td>Raalte</td>
      <td>10</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>242</th>
      <td>Reimerswaal</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Renkum</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>244</th>
      <td>Renswoude</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>245</th>
      <td>Reusel-De Mierden</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>246</th>
      <td>Rheden</td>
      <td>18</td>
      <td>15</td>
      <td>12</td>
      <td>10</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>247</th>
      <td>Rhenen</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>248</th>
      <td>Ridderkerk</td>
      <td>9</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>249</th>
      <td>Rijssen-Holten</td>
      <td>9</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>250</th>
      <td>Rijswijk</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>251</th>
      <td>Roerdalen</td>
      <td>10</td>
      <td>10</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>252</th>
      <td>Roermond</td>
      <td>28</td>
      <td>26</td>
      <td>23</td>
      <td>21</td>
      <td>18</td>
      <td>15</td>
    </tr>
    <tr>
      <th>253</th>
      <td>Roosendaal</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>254</th>
      <td>Rotterdam</td>
      <td>186</td>
      <td>163</td>
      <td>149</td>
      <td>139</td>
      <td>120</td>
      <td>104</td>
    </tr>
    <tr>
      <th>255</th>
      <td>Rozendaal</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>256</th>
      <td>Rucphen</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>257</th>
      <td>Schagen</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>258</th>
      <td>Scherpenzeel</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>259</th>
      <td>Schiedam</td>
      <td>14</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>260</th>
      <td>Schiermonnikoog</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>261</th>
      <td>Schouwen-Duiveland</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>262</th>
      <td>Simpelveld</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>263</th>
      <td>Sint Anthonis</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>264</th>
      <td>Sint-Michielsgestel</td>
      <td>18</td>
      <td>17</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>265</th>
      <td>Sittard-Geleen</td>
      <td>86</td>
      <td>84</td>
      <td>61</td>
      <td>59</td>
      <td>58</td>
      <td>58</td>
    </tr>
    <tr>
      <th>266</th>
      <td>Sliedrecht</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>267</th>
      <td>Sluis</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>268</th>
      <td>Smallingerland</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>269</th>
      <td>Soest</td>
      <td>21</td>
      <td>20</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>14</td>
    </tr>
    <tr>
      <th>270</th>
      <td>Someren</td>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>271</th>
      <td>Son en Breugel</td>
      <td>15</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>272</th>
      <td>Stadskanaal</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>273</th>
      <td>Staphorst</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>274</th>
      <td>Stede Broec</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>275</th>
      <td>Steenbergen</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>276</th>
      <td>Steenwijkerland</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>277</th>
      <td>Stein</td>
      <td>24</td>
      <td>24</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>278</th>
      <td>Stichtse Vecht</td>
      <td>22</td>
      <td>16</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>279</th>
      <td>Súdwest-Fryslân</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>280</th>
      <td>Terneuzen</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>281</th>
      <td>Terschelling</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>282</th>
      <td>Texel</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>283</th>
      <td>Teylingen</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>284</th>
      <td>Tholen</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>285</th>
      <td>Tiel</td>
      <td>14</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>286</th>
      <td>Tilburg</td>
      <td>224</td>
      <td>211</td>
      <td>193</td>
      <td>178</td>
      <td>154</td>
      <td>133</td>
    </tr>
    <tr>
      <th>287</th>
      <td>Tubbergen</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>288</th>
      <td>Twenterand</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>289</th>
      <td>Tynaarlo</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>290</th>
      <td>Tytsjerksteradiel</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>291</th>
      <td>Uden</td>
      <td>94</td>
      <td>92</td>
      <td>84</td>
      <td>82</td>
      <td>76</td>
      <td>71</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Uitgeest</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>293</th>
      <td>Uithoorn</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>294</th>
      <td>Urk</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>295</th>
      <td>Utrecht</td>
      <td>191</td>
      <td>160</td>
      <td>145</td>
      <td>131</td>
      <td>121</td>
      <td>101</td>
    </tr>
    <tr>
      <th>296</th>
      <td>Utrechtse Heuvelrug</td>
      <td>15</td>
      <td>14</td>
      <td>14</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>297</th>
      <td>Vaals</td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>298</th>
      <td>Valkenburg aan de Geul</td>
      <td>9</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>299</th>
      <td>Valkenswaard</td>
      <td>9</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>300</th>
      <td>Veendam</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>301</th>
      <td>Veenendaal</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>302</th>
      <td>Veere</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>303</th>
      <td>Veldhoven</td>
      <td>18</td>
      <td>14</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>304</th>
      <td>Velsen</td>
      <td>15</td>
      <td>15</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>305</th>
      <td>Venlo</td>
      <td>47</td>
      <td>40</td>
      <td>35</td>
      <td>33</td>
      <td>33</td>
      <td>24</td>
    </tr>
    <tr>
      <th>306</th>
      <td>Venray</td>
      <td>17</td>
      <td>13</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>307</th>
      <td>Vijfheerenlanden</td>
      <td>21</td>
      <td>18</td>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>308</th>
      <td>Vlaardingen</td>
      <td>22</td>
      <td>18</td>
      <td>15</td>
      <td>15</td>
      <td>12</td>
      <td>7</td>
    </tr>
    <tr>
      <th>309</th>
      <td>Vlieland</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>310</th>
      <td>Vlissingen</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>311</th>
      <td>Voerendaal</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>312</th>
      <td>Voorschoten</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>313</th>
      <td>Voorst</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>314</th>
      <td>Vught</td>
      <td>22</td>
      <td>19</td>
      <td>17</td>
      <td>15</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>315</th>
      <td>Waadhoeke</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>316</th>
      <td>Waalre</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>317</th>
      <td>Waalwijk</td>
      <td>34</td>
      <td>29</td>
      <td>24</td>
      <td>22</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>318</th>
      <td>Waddinxveen</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>319</th>
      <td>Wageningen</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>320</th>
      <td>Wassenaar</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>321</th>
      <td>Waterland</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>322</th>
      <td>Weert</td>
      <td>24</td>
      <td>17</td>
      <td>12</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>323</th>
      <td>Weesp</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>324</th>
      <td>West Betuwe</td>
      <td>19</td>
      <td>17</td>
      <td>15</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>325</th>
      <td>West Maas en Waal</td>
      <td>11</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>326</th>
      <td>Westerkwartier</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>327</th>
      <td>Westerveld</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>328</th>
      <td>Westervoort</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>329</th>
      <td>Westerwolde</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>330</th>
      <td>Westland</td>
      <td>28</td>
      <td>25</td>
      <td>21</td>
      <td>15</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>331</th>
      <td>Weststellingwerf</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>332</th>
      <td>Westvoorne</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>333</th>
      <td>Wierden</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>334</th>
      <td>Wijchen</td>
      <td>24</td>
      <td>23</td>
      <td>21</td>
      <td>20</td>
      <td>17</td>
      <td>14</td>
    </tr>
    <tr>
      <th>335</th>
      <td>Wijdemeren</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>336</th>
      <td>Wijk bij Duurstede</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>337</th>
      <td>Winterswijk</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>338</th>
      <td>Woensdrecht</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>339</th>
      <td>Woerden</td>
      <td>22</td>
      <td>19</td>
      <td>14</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>340</th>
      <td>Wormerland</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>341</th>
      <td>Woudenberg</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>342</th>
      <td>Zaanstad</td>
      <td>29</td>
      <td>20</td>
      <td>19</td>
      <td>11</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>343</th>
      <td>Zaltbommel</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>344</th>
      <td>Zandvoort</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>345</th>
      <td>Zeewolde</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>346</th>
      <td>Zeist</td>
      <td>25</td>
      <td>20</td>
      <td>19</td>
      <td>17</td>
      <td>17</td>
      <td>13</td>
    </tr>
    <tr>
      <th>347</th>
      <td>Zevenaar</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>348</th>
      <td>Zoetermeer</td>
      <td>13</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>349</th>
      <td>Zoeterwoude</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>350</th>
      <td>Zuidplas</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Zundert</td>
      <td>14</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>352</th>
      <td>Zutphen</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>353</th>
      <td>Zwartewaterland</td>
      <td>30</td>
      <td>22</td>
      <td>19</td>
      <td>17</td>
      <td>15</td>
      <td>9</td>
    </tr>
    <tr>
      <th>354</th>
      <td>Zwijndrecht</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>355</th>
      <td>Zwolle</td>
      <td>47</td>
      <td>40</td>
      <td>35</td>
      <td>28</td>
      <td>23</td>
      <td>18</td>
    </tr>
  </tbody>
</table>